<!DOCTYPE html>
<html lang="en-US">
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/main.css" media="all" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title - {% block title %}{% endblock %}</title>
</head>
<body>
  <div id='main'>
    {% include 'templates/sidebar.html' %}
    <div id='content'>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>