{% extends "templates/base.html" %}
{% block title %}Photography{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="../css/slidesjs.css" media="all" />
  <div>
    <div class="container">
    <div id="slides">
      <div>
        <img src="../img/example-slide-1.jpg" />
      </div>
      <div>
        <img src="../img/example-slide-2.jpg" />
      </div>
      <div>
        <img src="../img/example-slide-3.jpg" /> 
      </div>
      <div>
        <img src="../img/example-slide-4.jpg" />
      </div>
      <div class="slidesjs-navigation" id="slidesjs-navigation-contatiner">
        <a href="#" class="slidesjs-previous slidesjs-arrow slidesjs-navigation"><</i></a>
        <ul class="slidesjs-pagination slidesjs-navigation"></ul>
        <a href="#" class="slidesjs-next slidesjs-arrow slidesjs-navigation">></i></a>
      </div>
    </div>
    <p class='slidesjs-caption read-text' id='slidesjs-caption-1'>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    <p class='slidesjs-caption read-text' id='slidesjs-caption-2'>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
    <p class='slidesjs-caption read-text' id='slidesjs-caption-3'>Nulla viverra posuere urna eu pretium. Suspendisse posuere consequat mauris, eget tempus ipsum vehicula vel. Vestibulum ut augue pharetra, sagittis nisi ut, ornare erat. Phasellus in feugiat magna.</p>
    <p class='slidesjs-caption read-text' id='slidesjs-caption-4'>Cras vestibulum pharetra posuere. Proin eu vestibulum ligula, a egestas enim. Nunc mollis ullamcorper est quis gravida.</p>
  </div>
  <script src="../js/jquery-1.9.1.min.js"></script>
  <script src="../js/jquery.slides.modified.min.js"></script>
  <script>
    function refreshCaptionText(number) {
      $( ".slidesjs-caption" ).hide();
      $( "#slidesjs-caption-" + number ).show();
    }
    $(function() {
      $('#slides').slidesjs({
        width: 710,
        height: 328,
        navigation: true,
        callback: {
          loaded: function(number) { refreshCaptionText(number) },
          complete: function(number) { refreshCaptionText(number) }
        }
      });
    });
  </script>
{% endblock %}